/* stylelint-disable declaration-no-important */
/* stylelint-disable max-line-length */

/* Course nodes feature. */
/* Indent child nodes of the section and activities nodes (this will be overwritten later if the node is made collapsible).
   Setting !important is necessary because otherwise the child nodes' m-l-0 class would overrule our margin. */
.list-group-item[data-parent-key="localboostnavigationcoursesections"] > div,
.list-group-item[data-parent-key="localboostnavigationactivities"] > div {
    margin-left: .25rem !important;
}

/* Custom nodes feature. */
/* Add an indent to the custom child nodes because this isn't possible with Navigation node API.
   Setting !important is necessary because otherwise the child nodes' m-l-0 class would overrule our margin. */
.list-group-item[data-parent-key^="localboostnavigationcustom"] > div {
    margin-left: .25rem !important;
}
/* Add a margin-top to the custom bottom nodes section because this isn't possible with Navigation node API. */
.list-group-item.localboostnavigationfirstcustombuttomusers,
.list-group-item.localboostnavigationfirstcustombuttomadmins {
    margin-top: 1rem;
}
/* Add plugin-specific classes to shrink fa-icons. This is needed for the custom nodes' icons.
   Font-Awesome 5 will contain similar classes officially, but currently Moodle still uses Font-Awesome 4.. */
.local-boostnavigation-fa-xxs {
    font-size: 0.5em !important;
    vertical-align: 25%;
}
.local-boostnavigation-fa-xs {
    font-size: 0.75em !important;
    vertical-align: 12%;
}

/* Collapse nodes feature.
/* Hide all nav drawer items which have the localboostnavigationcollapsedchild class. */
.list-group-item.localboostnavigationcollapsedchild {
    display: none;
}
/* Add the icon for the expanded node state. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent:not(.localboostnavigationcollapsedparent) > div::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 1.2rem;
    position: absolute;
    right: 0.75rem;
    top: 0.55rem;
}
/* Add the icon for the collapsed node state. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent.localboostnavigationcollapsedparent > div::after {
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 1.2rem;
    position: absolute;
    right: 0.75rem;
    top: 0.55rem;
}
/* Make sure that the icon does not overlap with the node text. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent > div {
    padding-right: 1rem;
}
/* Set the cursor for the collapsible nodes. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent {
    cursor: pointer;
}
<<<<<<< HEAD
<<<<<<< HEAD

/* Custom nodes feature. */
/* Add an indent to the custom child nodes because this isn't possible with Navigation node API.
   Setting !important is necessary because otherwise the child nodes' m-l-0 class would overrule our margin. */
.list-group-item[data-parent-key^="localboostnavigationcustom"] > div {
    margin-left: 1rem !important;
}
/* Add a margin-top to the custom bottom nodes section because this isn't possible with Navigation node API. */
.list-group-item[data-key="localboostnavigationcustombottomusers1"],
.list-group-item[data-key="localboostnavigationcustombottomadmins1"] {
    margin-top: 1rem;
}
/* Add a plugin-specific class to shrink fa-icons. This is needed for the custom nodes' icons.
   Font-Awesome 5 will contain a similar class officially, but currently Moodle still uses Font-Awesome 4.. */
.local-boostnavigation-fa-sm {
    font-size: 0.5em !important;
    margin-top: 1em !important;
}

/* Improve node icons. */
/* Hide the (empty) node icon for heading nodes. */
.list-group-item[data-key="localboostnavigationactivities"] .icon.fa-fw {
    display: none;
}

/* ... and remove the indent of the mycourses child nodes. */
.list-group-item[data-parent-key="mycourses"] > div {
    margin-left: 0 !important;
=======
/* Remove the indent of the collapsible custom child nodes. */
.jsenabled .list-group-item.localboostnavigationcollapsiblechild > div {
    margin-left: inherit !important;
>>>>>>> b150ea9a983c2c46cfcc74f26db42518c7d497fe
=======
/* Remove the indent of the collapsible custom child nodes. */
.jsenabled .list-group-item.localboostnavigationcollapsiblechild > div {
    margin-left: inherit !important;
>>>>>>> b150ea9a983c2c46cfcc74f26db42518c7d497fe
}
/* Remove the indent of the collapsible custom parent nodes where requested by hiding the icon. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparentforcenoindent .icon {
    display: none;
}

/* Modify mycourses list feature. */
/* Make active filters hint smaller and always non-bold. */
.list-group-item[data-key="localboostnavigationactivefiltershint"] {
    font-size: 80%;
    font-weight: normal;
}

/* New boost nav styles */
/* Note - important styles may be used if needed since we do not have access to the core html */
#nav-drawer {
    border-right: 3px solid #ddd;
    background-color: #fff;
}

#nav-drawer[view="courseview"] [data-key="home_root"] {
    margin-top: 1rem;
}

.list-group-item.list-group-item-action,
.list-group-item[data-key="mycourses"] {
    background-color: #ddd;
    border-color: #bbb;
}

.list-group-item.list-group-item-action:hover {
    background-color: #eee;
}

.list-group-item.list-group-item-action.active {
    background-color: #fff;
    border: 1px solid #bbb;
    border-left: 5px solid #767676;
    padding-left: 1rem;
}

.list-group-item.list-group-item-action.active::before {
    /* right arrow for active border */
    font-family: 'FontAwesome';
    content: "\f0da";
    color: #767676;
    position: absolute;
    left: -1px;
    font-size: 1.5rem;
    top: 5px;
}

.list-group-item.list-group-item-action[data-key="current_module"] .media-left::before {
    font-family: 'FontAwesome';
    content: "\f069";
    color: #2f2f2f;
}

.list-group-item.list-group-item-action[data-key="current_module"] .media-body {
    margin-left: 10px;
}

.list-group-item.list-group-item-action[data-key="current_module"] img {
    display: none;
}

.list-group-item.list-group-item-action.active span {
    color: #767676;
}

.list-group-item.list-group-item-action span {
    color: #2f2f2f;
}

.list-group-item[data-key="mycourses"] {
    margin-top: 1rem;
}
/* End of new boost nav styles */

#nav-drawer a[data-key="participants"] {
    display: none !important;
}

